<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="oldie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="oldie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="oldie ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

	<title>{{ pageTitle|raw }}</title>

	<meta charset="UTF-8" />
	<meta http-equiv="cleartype" content="on" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/reset.css" />
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/screen.css" />

</head>
<body>

	<div id="siteWrapper">

		<header>
			<a href="{{ path('home') }}"><h1>Linkdumpr</h1></a>
		</header>

		<nav role="navigation">
			<ul>
				<li class="{% if app.request.getPathInfo()|split('/')[1] == '' %}active{% endif %}"><a href="{{ path('home') }}">Home</a></li>
				<li class="{% if app.request.getPathInfo()|split('/')[1] == 'links' %}active{% endif %}"><a href="{{ path('links') }}">Links</a></li>
				<li class="{% if app.request.getPathInfo()|split('/')[1] == 'users' %}active{% endif %}"><a href="{{ path('users') }}">Users</a></li>
				<li class="{% if app.request.getPathInfo()|split('/')[1] == 'about' %}active{% endif %}"><a href="{{ path('about') }}">About</a></li>
			</ul>
		</nav>

		<!-- content -->
		<section role="main">

			{% block pageContent %}
				Hello!
			{% endblock %}

		</section>

	</div>

</body>
</html>