{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Linkdumpr &raquo; Users' %}


{# overwrite the pageContent block #}
{% block pageContent %}
	<p class="breadcrumb"><a href="{{ path('home') }}">Linkdumpr</a> &raquo; Users</p>
	{% if users %}
	<ul class="users">
		{% for user in users %}
		<li><a href="{{ path('user.detail', { id: user.id }) }}" title="{{ user.firstname }} {{ user.lastname }}">{{ user.firstname }} {{ user.lastname }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<p>No users to show!</p>
	{% endif %}
{% endblock %}